@page
@model RegisterConfirmationModel

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Register confirmation</h1>
                                @{
                                    if (@Model.DisplayConfirmAccountLink)
                                    {
                                        <p class="mb-4">
                                            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                                            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="mb-4">
                                            Please check your email to confirm your account.
                                        </p>
                                    }
                                }
                            </div>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="Register">Create an Account!</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="Login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

